@import "tailwindcss";

@theme {
  --color-on-background: #1d1c18;
  --color-on-tertiary-fixed: #231a0f;
  --color-error-container: #ffdad6;
  --color-on-surface-variant: #504441;
  --color-on-primary: #ffffff;
  --color-surface-bright: #fef9f2;
  --color-outline-variant: #d4c3be;
  --color-inverse-surface: #32302c;
  --color-surface-container-low: #f8f3ec;
  --color-secondary-fixed-dim: #e4c09d;
  --color-error: #ba1a1a;
  --color-primary-fixed-dim: #e7bdb1;
  --color-on-tertiary: #ffffff;
  --color-on-surface: #1d1c18;
  --color-background: #fef9f2;
  --color-on-secondary-fixed-variant: #5b4227;
  --color-secondary: #74593d;
  --color-surface-variant: #e6e2db;
  --color-on-secondary-container: #795d41;
  --color-on-tertiary-fixed-variant: #504538;
  --color-surface: #fef9f2;
  --color-primary-container: #5d4037;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary: #ffffff;
  --color-surface-container-highest: #e6e2db;
  --color-tertiary-fixed: #f1e0cd;
  --color-inverse-primary: #e7bdb1;
  --color-secondary-container: #fed9b5;
  --color-primary: #442a22;
  --color-on-error-container: #93000a;
  --color-surface-container: #f2ede6;
  --color-on-tertiary-container: #c2b3a2;
  --color-on-secondary-fixed: #2a1703;
  --color-on-primary-container: #d4ada1;
  --color-outline: #827470;
  --color-tertiary: #392f23;
  --color-on-primary-fixed: #2c160e;
  --color-surface-container-high: #ece7e1;
  --color-on-error: #ffffff;
  --color-secondary-fixed: #ffdcbc;
  --color-surface-dim: #ded9d3;
  --color-tertiary-container: #504538;
  --color-surface-tint: #77574d;
  --color-inverse-on-surface: #f5f0e9;
  --color-tertiary-fixed-dim: #d4c4b2;
  --color-primary-fixed: #ffdbd0;
  --color-on-primary-fixed-variant: #5d4037;

  --font-headline: "Noto Serif", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Plus Jakarta Sans", sans-serif;
}